@font-face {
  font-family: 'Poppins';
  src: url(../public/fonts/Poppins-Regular.ttf);
}
p , h1, h2, h3, h4, h5, h6 , span , select , option , button{
  font-family: 'Poppins', sans-serif;
}
ul{
  padding: 0px;
  margin: 0px;
}
ul li{
  list-style: none;
}
.active>.page-link, .page-link.active{
  background: #9F2B68 !important;
  border-color: #9F2B68;
}
.d_page nav{
  margin-bottom: 50px;
}